
<h1 mat-dialog-title> Réponse du serveur</h1>
<div mat-dialog-content>
    <div class="list" *ngIf="data.infoData">
        <p>Nom / prénom : {{data.infoData.name}}</p>
        <p>Pseudo : {{data.infoData.pseudo}}</p>
        <p>Date de naissance : {{data.infoData.dateNaissance}}</p>
        <p>Adresse : {{data.infoData.adresse}}</p>
        <p>Code postal : {{data.infoData.codePostal}}</p>
        <p>Ville : {{data.infoData.ville}}</p>
        <p>Pays : {{data.infoData.pays}}</p>
        <p>Email : {{data.infoData.email}}</p>
        <p>Tel : {{data.infoData.telephone}}</p>
        <p>Compétences : {{data.infoData.skills}}</p>
        <p>Mot de passe : {{data.infoData.password}}</p>
        <p>Confirmation de password : {{data.infoData.confirmPassword}}</p>
        <p>Rempli le : {{data.date | date: "dd/MM/yyyy, à HH:mm"}}</p>
    </div>
</div> 
<div mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="closeModal()">Valider</button>
</div>



