<!-- <section class="all"> -->
<!-- d-flex flex-column mb-3 -->
<!-- <div class="leftBar">
    <h1>WELCOME</h1>
    <a routerLink="chat" routerLinkActive="active">chat </a>
    <a routerLink="directory" routerLinkActive="active">directory </a>
    <a routerLink="profil" routerLinkActive="active">profil </a>
</div>
</section>  -->

<section class="all">
  <input type="checkbox" name="menu_open" id="menu_open">
  <label for="menu_open" class="menu_burger">
      <div>
      </div>
      <div>
      </div>
      <div>
      </div>
  </label>
  <nav>
    <mat-list role="list" class="leftBar">
      <h1>WELCOME</h1>
      <mat-list-item
        class="menu-item"
        role="listitem"
        routerLink="chat"
        routerLinkActive="active"
        >CHAT</mat-list-item
      >
      <mat-list-item
        class="menu-item"
        role="listitem"
        routerLink="directory"
        routerLinkActive="active"
        >DIRECTORY</mat-list-item
      >
      <mat-list-item
        class="menu-item"
        role="listitem"
        routerLink="profil"
        routerLinkActive="active"
        >PROFIL</mat-list-item
      >
      <mat-list-item
        class="menu-item"
        role="listitem"
        routerLink="finder"
        routerLinkActive="active"
        >FINDER</mat-list-item
      >
    </mat-list>
  </nav>

</section>
