section{
    display: flex;
    flex-direction: column;
    padding: 10px;
    .entete {
        display: flex;
        align-items: center;
        height: 50px;
        h2 {
            font-size: 30px;
            padding: 20px 50px 0 10px;
        }
        button {
            padding: 5px 20px;
        }
    }
    .fichiers {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    } 
}
