form{ 
    display: flex;
    flex-direction: column;
    
    button {
    border-radius: 10px;
    box-shadow: 5px 5px 5px #d1daf5;
    background-color: #d1daf5;
    border: 1px solid #798fce;
    font-size: 15px;
    margin-top: 10px;
}}