section {
  width: 100vw;
  background-color: black;
  padding: 20px;
  margin: auto -350px;
  h1{
    margin-left: 5%;
    color: #fff;
    letter-spacing: 5px;
    font-size: 32px;
    margin-top: 5px;
    cursor:pointer;

  }

}
