<form [formGroup]="directoryForm" (ngSubmit)="onSubmit()">

  <!-- Input name -->
  <mat-form-field appearance="fill">
    <mat-label>Nom</mat-label>
    <input matInput formControlName="name" type="text">
  </mat-form-field>

  <!-- Input path -->
  <mat-form-field appearance="fill">
    <mat-label>Path</mat-label>
    <input matInput formControlName="path" type="text">
  </mat-form-field>

  <!-- Input description -->
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" type="text"></textarea>
  </mat-form-field>

  <button mat-raised-button type="submit" 
  [disabled]="directoryForm.invalid">
    Valider
  </button>

</form>